@charset 'utf-8';

// Imports
// =============================================================================
@use 'vertical-rhythm-reset' as vr;

// Variables
// =============================================================================
// vr.$font-size    : 15px;
// vr.$line-height  : 1.25;
// vr.$modular-scale: false;
// vr.$breakpoints  : false;
// vr.$helpers      : false;

// Base
// =============================================================================
@include vr.reset();

body {
    @include vr.vr($padding-bottom: 1);
    @include vr.grid();

    padding-right: 3%;
    padding-left: 3%;
    background: #fff;
}

// Tests
// =============================================================================
// Height: Fixed Unit (px)
// -----------------------------------------------------------------------------
.test-height-100 {
    @include vr.vr($height: 100px);
}
.test-height-150 {
    @include vr.vr($height: 150px);
}
.test-height-200 {
    @include vr.vr($height: 200px);
}

// Border Offsets
// -----------------------------------------------------------------------------
$test-border-width: 3px;

// Borders
.test-offset,
.test-offset-height,
.test-offset-margin,
.test-offset-padding {
    border: $test-border-width solid black;
}

.test-offset-top,
.test-offset-height-top,
.test-offset-margin-top,
.test-offset-padding-top {
    border-top: $test-border-width solid black;
}

.test-offset-bottom,
.test-offset-height-bottom,
.test-offset-margin-bottom,
.test-offset-padding-bottom {
    border-bottom: $test-border-width solid black;
}

// Offset Only
.test-offset {
    @include vr.vr($offset: $test-border-width);
}
.test-offset-top {
    @include vr.vr($offset-top: $test-border-width);
}
.test-offset-bottom {
    @include vr.vr($offset-bottom: $test-border-width);
}

// Height
.test-offset-height {
    @include vr.vr($height: 2, $offset: $test-border-width);
}
.test-offset-height-top {
    @include vr.vr($height: 2, $offset-top: $test-border-width);
}
.test-offset-height-bottom {
    @include vr.vr($height: 2, $offset-bottom: $test-border-width);
}

// Margin
.test-offset-margin {
    @include vr.vr($margin-top: 1, $margin-bottom: 1, $offset: $test-border-width);
}
.test-offset-margin-top {
    @include vr.vr($margin-top: 1, $offset-top: $test-border-width);
}
.test-offset-margin-bottom {
    @include vr.vr($margin-bottom: 1, $offset-bottom: $test-border-width);
}

// Padding
.test-offset-padding {
    @include vr.vr($padding-top: 1, $padding-bottom: 1, $offset: $test-border-width);
}
.test-offset-padding-top {
    @include vr.vr($padding-top: 1, $offset-top: $test-border-width);
}
.test-offset-padding-bottom {
    @include vr.vr($padding-bottom: 1, $offset-bottom: $test-border-width);
}
